html {
    min-height:100%;
}

body {
    background: linear-gradient(0deg, #14212b 0%, rgb(0, 8, 24) 100%);
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 14px;
}

.image-blurred-edge {
    border-radius: 10%;
    width: 520px;
    height: 130px;
    margin-top: 5px;
}